@model IEnumerable<FindinfoDto>

@{
    ViewData["Title"] = "個人資料";
}
<br />
<br />
<br />


<div class="container">
    <div class="card shadow-lg border-0 rounded-4 mb-4">
        <div class="card-header bg-primary text-white">
            <h4 class="m-0">玩家資訊</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().PlayerName)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.First().PlayerName)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().Wallet)
                </div>
                <div class="col-md-9 text-success">
                    $@Html.DisplayFor(model => model.First().Wallet)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().Level)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.First().Level)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().Login)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.First().Login)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().Email)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.First().Email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.First().Create_Day)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.First().Create_Day)
                </div>
            </div>
        </div>
        <br />

        <div class="card-footer text-center">
            <br />
            <button class="btn btn-outline-primary mx-2">編輯資料</button>
            <button class="btn btn-outline-secondary mx-2">查看交易紀錄</button>            
            <a href="/Member/Logout" class="btn btn-outline-danger mx-2">登出</a>
        </div>
    </div>
</div>
